{% extends "base_site.html" %}
{% load i18n static %}
{% load cart_tag humanize com_extras %}
{% block title %}My Shopping{% endblock %}

{% block content %}{{ block.super }}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
                    <span>Shop's Home</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price (VND)</th>
                            <th>Quantity</th>
                            <th>Total (VND)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in request.session.cart.items %}
                        <tr>
                            <td class="cart__product__item">
                                <a href="{% url 'main:pro_attr_detail' value.item_id %}">
                                    <!--{{value.image|safe}}--><img width="128" src='{% headshot value.item_id "ProductAttribute" "hmid" %}'>
                                </a>
                                <div class="cart__product__item__title">
                                    <h6><a href="{% url 'main:pro_attr_detail' value.item_id %}">
                                        {{value.name|title}}
                                    </a></h6>
                                    <div class="rating text-center">Rating:
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="more">
                                        Qty InStock: xyz<br>
                                        Current saleoff: 10%<br>
                                        Expire Date:<br> {% now "jS F Y" %}
                                    </div>
                                </div>
                            </td>
                            <td class="cart__price">{{value.price|floatformat:2|intcomma}}</td>
                            <td class="cart__quantity">
                                <div class="pro-qty">
                                    <input type="text" value="{{value.quantity}}">
                                </div>
                            </td>
                            <td class="cart__total">~{{ value.price|multiply:value.quantity|floatformat:2|intcomma }}</td>
                            <td class="cart__close">
                                <a href="{% url 'cart:cart_clear' key %}" data-toggle="tooltip" title="Delete" alt="Delete"><span class="icon_close"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="{% url 'main:shop' %}">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input placeholder="Enter your coupon code" type="text">
                        <button class="site-btn" type="submit">Apply</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Total Amount <span>{{ cart_total_amount|floatformat:2|intcomma }} VND</span></li>
                        <li>Total Wrapping <span>{{ cart_total_wrapping|floatformat:2|intcomma }} VND</span></li>
                        <li>Total Real Paid <span>{{ cart_total_paid_real|floatformat:2|intcomma }} VND</span></li>
                    </ul>
                    <a class="primary-btn" href="{% url 'cart:order_payment' cart.pk %}">Proceed to payment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Cart Section End -->
<hr>
<div class="container">
    <h3 class="h3">Mẫu ảnh đứng - Thời trang</h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a href="#">
                        <img class="pic-1" src='{% static "img/product/product-7.jpg" %}'>
                        <img class="pic-2" src='{% static "img/product/product-8.jpg" %}'>
                    </a>
                    <ul class="social">
                        <li><a class="fa fa-search" href=""></a></li>
                        <li><a class="icon_heart_alt" href=""></a></li>
                        <li><a class="fa fa-shopping-cart" href=""></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blazer</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">$15.00
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a href="#">
                        <img class="pic-1" src='{% static "img/product/product-6.jpg" %}'>
                        <img class="pic-2" src='{% static "img/product/product-5.jpg" %}'>
                    </a>
                    <ul class="social">
                        <li><a class="fa fa-search" href=""></a></li>
                        <li><a class="icon_heart_alt" href=""></a></li>
                        <li><a class="fa fa-shopping-cart" href=""></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's White Shirt</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">$15.00</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a href="#">
                        <img class="pic-1" src='{% static "img/product/product-4.jpg" %}'>
                        <img class="pic-2" src='{% static "img/product/product-3.jpg" %}'>
                    </a>
                    <ul class="social">
                        <li><a class="fa fa-search" href=""></a></li>
                        <li><a class="icon_heart_alt" href=""></a></li>
                        <li><a class="fa fa-shopping-cart" href=""></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blazer</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">$15.00
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid7">
                <div class="product-image7">
                    <a href="#">
                        <img class="pic-1" src='{% static "img/product/product-2.jpg" %}'>
                        <img class="pic-2" src='{% static "img/product/product-1.jpg" %}'>
                    </a>
                    <ul class="social">
                        <li><a class="fa fa-search" href=""></a></li>
                        <li><a class="icon_heart_alt" href=""></a></li>
                        <li><a class="fa fa-shopping-cart" href=""></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blazer</a></h3>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                    <div class="price">$15.00
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}
