<div class="pagination vertical-center-row align-items-center justify-content-center">
    {% if is_paginated %}
    <ul class="pagination pagination__option">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
        {% else %}
        <li class="disabled hidden"><a onclick="return false;" href="javascript:void(0)" disabled="disabled"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
        <li class="active current"><a onclick="return false;" href="javascript:void(0)" disabled="disabled"><b>{{ i }}</b></a></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
        {% else %}
        <li class="disabled hidden"><a onclick="return false;" href="javascript:void(0)" disabled="disabled"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>